<html>
    <head>
        <title>Mr Phoenix Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Mr Phoenix Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
        <div align="left">
        <h3>About me</h3>
        <a href="https://www.facebook.com/adarsh.verma.7777">Adarsh Kumar Verma</a><br>
        <a href="https://github.com/Adarshverma013">Github profile</a><br>
        <a href="https://www.codechef.com/users/adarshverma013">CodeChef profile</a>
        </div>
    </body>
</html>